@model IEnumerable<FullStackCapstone.Models.OppCart>

@{
    ViewData["Title"] = "Index";
}

<h1>Summer Programs To Do List</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Application Deadline
            </th>
            <th>
                Complete?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Opportunity.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opportunity.ApplicationDeadline)
                </td>
                <td>
                    @if (item.IsComplete == false)
                    {

                        <form asp-action="CompleteOpp" asp-route-id="@item.OpportunityId">
                            <input type="submit" value="Not Done" />
                        </form>

                    }
                    else
                    {
                        <form asp-action="" asp-route-id="@item.OpportunityId">
                            <input  type="checkbox" checked />
                        </form>
                    }


                </td>
                <td>
                    <form asp-controller="OppCarts" asp-route-id="@item.OpportunityId" asp-action="DeleteFromCart">
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>





