@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@model FullStackCapstone.Models.ViewModels.OppCartViewModel
@{
    ViewData["Title"] = "Index";

}

@if (TempData.ContainsKey("OppDeleted"))
{
    <div class="alert alert-dismissible alert-info">
        @TempData["OppDeleted"]
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
}


<h1>@UserManager.GetUserAsync(User).Result.FirstName's Cart </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Application Deadline
            </th>
            <th>
                Complete?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.OppCarts)
        {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Opportunity.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opportunity.ApplicationDeadline)
                </td>
                <td>
                    @if (item.IsComplete == false)
                    {

                        <form asp-action="CompleteOpp" asp-route-id="@item.OpportunityId">
                            <input type="image" class="emptyBox" src="~/icons/svg/check-box-empty.svg" />
                        </form>

                    }
                    else
                    {

                        <input disabled class="greenCheck" type="image" src="~/icons/svg/greenCheck.svg" />

                    }


                </td>
                <td>
                    <form asp-controller="OppCarts" asp-route-id="@item.OpportunityId" asp-action="DeleteFromCart">
                        <input type="image" class="deleteButton" value="Delete" src="~/icons/svg/001-delete.svg" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


@if (Model.progressBar >= 0)
{
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: @Model.progressBar%" aria-valuenow="@Model.progressBar" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

}

@* dark mode if you wish *@
@*<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.5/lib/darkmode-js.min.js"></script>
    <script>
      new Darkmode().showWidget();
    </script>*@




