@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@model FullStackCapstone.Models.ViewModels.OppListAndCreateFormViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>MELAN.IN</h1>


@if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.IsAdmin)
{

    <a href="#" class="btn btn bg-primary createButton" data-target="#CreateOppFormModal" data-toggle="modal"> Add New Summer Opportunity</a>
    <br />
    <div class="modal" id="CreateOppFormModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create your opportunity</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <form asp-action="CreateOpp">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="@Model.OppForm.Title" class="control-label"></label>
                            <input asp-for="@Model.OppForm.Title" class="form-control" />
                            <span asp-validation-for="@Model.OppForm.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.OppForm.Description" class="control-label"></label>
                            <input asp-for="@Model.OppForm.Description" class="form-control" />
                            <span asp-validation-for="@Model.OppForm.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.OppForm.ApplicationLink" class="control-label">Application Link</label>
                            <input asp-for="@Model.OppForm.ApplicationLink" class="form-control" />
                            <span asp-validation-for="@Model.OppForm.ApplicationLink" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.OppForm.StartDate" class="control-label">Start Date</label>
                            <input id="create-startDate" asp-for="@Model.OppForm.StartDate" type="date" class="form-control" />
                            <span asp-validation-for="@Model.OppForm.StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.OppForm.EndDate" class="control-label">End Date</label>
                            <input id="create-endDate"  asp-for="@Model.OppForm.EndDate" type="date" class="form-control" />
                            <span asp-validation-for="@Model.OppForm.EndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.OppForm.AgeRange" class="control-label">Age Range</label>
                            <input asp-for="@Model.OppForm.AgeRange" class="form-control" />
                            <span asp-validation-for="@Model.OppForm.AgeRange" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.OppForm.SubjectId" class="control-label">Subject</label>
                            <select asp-for="@Model.OppForm.SubjectId" class="form-control" asp-items="@Model.OppForm.SubjectOptions">
                                <option disabled>Select the subject</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.OppForm.ProgramTypeId" class="control-label">Program Type</label>
                            <select asp-for="@Model.OppForm.ProgramTypeId" class="form-control" asp-items="@Model.OppForm.ProgramTypeOptions">
                                <option disabled>Select a program type</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.OppForm.ApplicationDeadline" class="control-label">Application Deadline</label>
                            <input id="create-appDeadline"  asp-for="@Model.OppForm.ApplicationDeadline" type="date" class="form-control" />
                            <span asp-validation-for="@Model.OppForm.ApplicationDeadline" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <br />
    <div class="oppCards" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content:space-evenly">

        @foreach (var item in Model.Opportunities)
        {

            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">@Html.DisplayFor(modelItem => item.Subject.Title) @Html.DisplayFor(modelItem => item.ProgramType.Title)</div>
                <div class="card-body">
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text">Deadline: @Html.DisplayFor(modelItem => item.ApplicationDeadline)</p>
                    <a type="button" class="btn btn-info" href="http://@item.ApplicationLink" target="_blank">Apply</a>
                    <a type="button" class="btn btn-warning" asp-controller="Opportunities" asp-action="">Program Details</a>
                    <br />
                    <form>
                        <button type="button" id="editButton--@item.Id"  class="editButton btn btn-outline-info" data-toggle="modal" data-target="#EditOppFormModal">
                           <img class="editIcon" src="~/icons/svg/002-edit.svg"/>
                        </button>

                    </form>


                    @*a type="button" class="btn btn-primary" asp-controller="Opportunities" asp-action="">Delete</a>*@
                </div>
            </div>

        }

        <div class="modal" id="EditOppFormModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit your opportunity</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        @* pass asp-route *@
                        <form asp-action="EditOpp">
                            <input id="edit-id" hidden asp-for="@Model.OppForm.Id" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="@Model.OppForm.Title" class="control-label"></label>
                                <input id="edit-title" asp-for="@Model.OppForm.Title" class="form-control" />
                                <span asp-validation-for="@Model.OppForm.Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.OppForm.Description" class="control-label"></label>
                                <input id="edit-description" asp-for="@Model.OppForm.Description" class="form-control" />
                                <span asp-validation-for="@Model.OppForm.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.OppForm.ApplicationLink" class="control-label">Application Link</label>
                                <input id="edit-applicationLink" asp-for="@Model.OppForm.ApplicationLink" class="form-control" />
                                <span asp-validation-for="@Model.OppForm.ApplicationLink" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.OppForm.StartDate" class="control-label">Start Date</label>
                                <input id="edit-startDate" asp-for="@Model.OppForm.StartDate" type="date" class="form-control" />
                                <span asp-validation-for="@Model.OppForm.StartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.OppForm.EndDate" class="control-label">End Date</label>
                                <input id="edit-endDate" asp-for="@Model.OppForm.EndDate" type="date" class="form-control" />
                                <span asp-validation-for="@Model.OppForm.EndDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.OppForm.AgeRange" class="control-label">Age Range</label>
                                <input id="edit-ageRange" asp-for="@Model.OppForm.AgeRange" class="form-control" />
                                <span asp-validation-for="@Model.OppForm.AgeRange" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.OppForm.SubjectId" class="control-label">Subject</label>
                                <select id="edit-subjectId" asp-for="@Model.OppForm.SubjectId" class="form-control" asp-items="@Model.OppForm.SubjectOptions">
                                    <option disabled>Select the subject</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.OppForm.ProgramTypeId" class="control-label">Program Type</label>
                                <select id="edit-programId" asp-for="@Model.OppForm.ProgramTypeId" class="form-control" asp-items="@Model.OppForm.ProgramTypeOptions">
                                    <option disabled>Select a program type</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.OppForm.ApplicationDeadline" class="control-label">Application Deadline</label>
                                <input id="edit-applicationDeadline" asp-for="@Model.OppForm.ApplicationDeadline" type="date" class="form-control" />
                                <span asp-validation-for="@Model.OppForm.ApplicationDeadline" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
}



@if (SignInManager.IsSignedIn(User) && !UserManager.GetUserAsync(User).Result.IsAdmin)
{

    <div class="oppCards" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content:space-evenly">

        @foreach (var item in Model.Opportunities)
        {


            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">@Html.DisplayFor(modelItem => item.Subject.Title) @Html.DisplayFor(modelItem => item.ProgramType.Title)</div>
                <div class="card-body">
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text">Deadline: @Html.DisplayFor(modelItem => item.ApplicationDeadline)</p>
                    <a type="button" class="btn btn-info" href="http://@item.ApplicationLink" target="_blank">Apply</a>
                    <a type="button" class="btn btn-warning" asp-controller="Opportunities" asp-action="">Program Details</a>
                    @* change from add to cart to Added if the  *@

                    @if (Model.OppCartItems.FirstOrDefault(oc => oc.OpportunityId == item.Id) != null)
                    {
                        <form asp-controller="OppCarts" asp-route-id="@item.Id" asp-action="DeleteFromCart">

                            <input type="submit" class=" btn btn-light" value="Added" />

                        </form>
                    }
                    else
                    {
                        <form asp-controller="OppCarts" asp-route-id="@item.Id" asp-action="AddToCart">

                            <input type="submit" class=" btn btn-light" value="Add to Cart" />

                        </form>
                    }



                </div>
            </div>


        }
    </div>

}

@if (!SignInManager.IsSignedIn(User))
{

    <div class="oppCards" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content:space-evenly">
        @foreach (var item in Model.Opportunities)
        {

            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">@Html.DisplayFor(modelItem => item.Subject.Title) @Html.DisplayFor(modelItem => item.ProgramType.Title)</div>
                <div class="card-body">
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text">Deadline: @Html.DisplayFor(modelItem => item.ApplicationDeadline)</p>
                    <a type="button" class="btn btn-info" href="http://@item.ApplicationLink" target="_blank">Apply</a>
                    <a type="button" class="btn btn-warning" asp-controller="Opportunities" asp-action="">Program Details</a>
                </div>
            </div>


        }
    </div>



}





